In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
import os, sys
# Add parent directory to path to import modules from src
rpath = os.path.abspath('..')
if rpath not in sys.path:
    sys.path.insert(0, rpath)
    

import pandas as pd
import os
import glob
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine
from src.loader import load_csv_files_into_dataframes, write_to_sql, missing_values_table,load_sql_data, created_tables

# Load environment variables from .env file
load_dotenv()

True

In [3]:
# Specify the parent directory where your CSV files are located
parent_directory = '/home/kanu/redash/youtube-data'

# Call the function to load CSV files into DataFrames
resulting_dataframes =load_csv_files_into_dataframes(parent_directory)

In [4]:
# Iterating over all DataFrames
for key, dataframe in resulting_dataframes.items():
    # key contains the DataFrame name, and dataframe contains the actual DataFrame
    print(f"{key}")
    #print(dataframe.head())  # Perform operations on the DataFrame as needed
    print("\n")

youtube-data_Totals


Subscription source_Chart data


Subscription source_Table data


Device type_Chart data


Device type_Table data


Traffic source_Chart data


Traffic source_Table data


Operating system_Chart data


Operating system_Table data


Subtitles and CC_Chart data


Subtitles and CC_Table data


New and returning viewers_Chart data


New and returning viewers_Table data


Geography_Chart data


Geography_Table data


Content type_Chart data


Content type_Table data


Viewer age_Table data


Viewer gender_Table data


Subscription status_Chart data


Subscription status_Table data


Viewership by Date_Table data


Sharing service_Chart data


Sharing service_Table data


Cities_Chart data


Cities_Table data

In [5]:
# Iterate over the dictionary and create separate variables for each DataFrame
for key, dataframe in resulting_dataframes.items():
    # Assign the DataFrame to a variable with a name derived from the key. helps me guess the dataframe name easily
    globals()[key.replace("-", "_").replace(" ", "_").lower()] = dataframe

# Now, each DataFrame has been assigned to a variable with a name derived from the dictionary keys
# You can access them like any other variable, for example:

In [6]:
device_type_chart_data.head()

        Date Device_type  Views
0  6/28/2020    Computer      1
1  6/29/2020    Computer     49
2  6/30/2020    Computer     62
3   7/1/2020    Computer     46
4   7/2/2020    Computer     29

In [7]:
# writing each dataframe to my database
write_to_sql(youtube_data_totals, 'views_by_date')
write_to_sql(subscription_source_chart_data, 'subscription_source_chart_data')
write_to_sql(subscription_source_table_data, 'subscription_source_table_data')
write_to_sql(device_type_chart_data, 'device_type_chart_data')
write_to_sql(device_type_table_data, 'device_type_table_data')
write_to_sql(traffic_source_chart_data, 'traffic_source_chart_data')
write_to_sql(traffic_source_table_data, 'traffic_source_table_data')
write_to_sql(operating_system_chart_data, 'operating_system_chart_data')
write_to_sql(operating_system_table_data, 'operating_system_table_data')
write_to_sql(subtitles_and_cc_chart_data, 'subtitles_and_cc_chart_data')
write_to_sql(subtitles_and_cc_table_data, 'subtitles_and_cc_table_data')
write_to_sql(new_and_returning_viewers_chart_data, 'new_and_returning_viewers_chart_data')
write_to_sql(new_and_returning_viewers_table_data, 'new_and_returning_viewers_table_data')
write_to_sql(geography_chart_data, 'geography_chart_data')
write_to_sql(geography_table_data, 'geography_table_data')
write_to_sql(content_type_chart_data, 'content_type_chart_data')
write_to_sql(content_type_table_data, 'content_type_table_data')
write_to_sql(viewer_age_table_data, 'viewer_age_table_data')
write_to_sql(viewer_gender_table_data, 'viewer_gender_table_data')
write_to_sql(subscription_status_chart_data, 'subscription_status_chart_data')
write_to_sql(subscription_status_table_data, 'subscription_status_table_data')
write_to_sql(viewership_by_date_table_data, 'viewership_by_date_table_data')
write_to_sql(sharing_service_chart_data, 'sharing_service_chart_data')
write_to_sql(sharing_service_table_data, 'sharing_service_table_data')
write_to_sql(cities_chart_data, 'cities_chart_data')
write_to_sql(cities_table_data, 'cities_table_data')

In [11]:
# list of the tables created
created_tables

['totals',
 'subscription_source_chart_data',
 'subscription_source_table_data',
 'device_type_chart_data',
 'device_type_table_data',
 'traffic_source_chart_data',
 'traffic_source_table_data',
 'operating_system_chart_data',
 'operating_system_table_data',
 'subtitles_and_cc_chart_data',
 'subtitles_and_cc_table_data',
 'new_and_returning_viewers_chart_data',
 'new_and_returning_viewers_table_data',
 'geography_chart_data',
 'geography_table_data',
 'content_type_chart_data',
 'content_type_table_data',
 'viewer_age_table_data',
 'viewer_gender_table_data',
 'subscription_status_chart_data',
 'subscription_status_table_data',
 'viewership_by_date_table_data',
 'sharing_service_chart_data',
 'sharing_service_table_data',
 'cities_chart_data',
 'cities_table_data']

In [12]:
load_sql_data('subscription_source_chart_data')

             Date Subscription_source  Subscribers
0       6/28/2020               Other            0
1       6/29/2020               Other            0
2       6/30/2020               Other            0
3        7/1/2020               Other            0
4        7/2/2020               Other            1
...           ...                 ...          ...
10227  12/24/2023      YouTube search            0
10228  12/25/2023      YouTube search            0
10229  12/26/2023      YouTube search            0
10230  12/27/2023      YouTube search            0
10231  12/28/2023      YouTube search            0

[10232 rows x 3 columns]